.book-drawer .ant-drawer-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #25ace3;
}

.sos-search-input input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.sos-search-input .ant-input-group-addon button {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}
