.ant-layout-header {
  padding: 0 !important;
  background: linear-gradient(90.09deg, #43c2f7 0%, #25ace3 100%) !important;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25) !important;
  height: auto !important;
}

.ant-page-header {
  padding: 0 !important;
  /* height: 75px !important; */
  display: flex !important;
  align-items: center !important;
}

.ant-page-header-heading {
  flex: 0 0 100% !important;
  height: 100%;
  display: flex !important;
  justify-content: space-between !important;
}

.ant-page-header-heading-left,
.ant-page-header-heading-extra,
.ant-page-header-heading-title {
  margin: 0 !important;
}

.ant-page-header-heading-extra {
  background-color: inherit !important;
  display: flex !important;
  align-items: center !important;
  margin-right: 36px !important;
}

.content-wrapper {
  padding: 20px 44px;
}

.content-item-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.content-item-wrapper:hover {
  border-bottom: 0.5px solid #e0e0e0;
}

.content-item-wrapper__logo {
  margin-right: 16px;
}

.content-item-wrapper__span {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.user-title-wrapper {
  display: flex;
  padding: 20px;
}

.user-title__name-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.user-title__position-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #979797;
}

.header-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25ace3;
  padding: 25px;
  cursor: pointer;
}

.card-title {
  display: flex;
  align-items: center;
  width: 100%;
}
